<header id="home" class="hidden-print {% if not theme.options.address_bar.show %}no-address-bar{%endif %}">
  {% include 'header/_mobile.html' %}

  <div id="nav-wrapper" class="hidden-xs{% if theme.options.header.nav.overlay %} overlay{% endif %}{% if theme.options.header.nav.vertically_center %} vertically-center{% endif %}{% if not theme.options.header.nav.below_logo %} single-line{% endif %}">
    <nav>
      {% if theme.options.header.nav.below_logo %}
        {% if account.logo %}
          <img class="logo" src="{{ account.logo }}" alt="{{ account.site.title }}">
        {% else %}
          <h1 class="logo-font">{{ account.site.title }}</h1>
        {% endif %}

        <ul class="list-inline">
          {% for item in navs.main|rejectattr("homepage") %}
            <li>
              {% if item.type == 'page' %}
                <a href="#{{ item.slug }}">{{ item.name }}</a>
              {% endif %}
              {% if item.type == 'link' %}
                <a {% if not internal %}target="_blank"{% endif %} href="{{ item.url }}">{{ item.name }}</a>
              {% endif %}
            </li>
          {% endfor %}
          {% if theme.options.header.nav.reservations_link %}
            <li><a href="#" data-toggle="modal" data-target="#modal-opentable">Reservations</a></li>
          {% endif %}
        </ul>
      {% else %}
        {% if not theme.options.header.nav.vertically_center %}
          <img class="logo" src="{{ account.logo }}" alt="{{ account.site.title }}">
        {% endif %}

        {% for group in navs.main|rejectattr("homepage")|slice(2) %}
          {% set outer_group = loop %}
          <ul class="list-inline">
            {% for item in group %}
              <li>
                {% if item.type == 'page' %}
                  <a href="#{{ item.slug }}">{{ item.name }}</a>
                {% endif %}
                {% if item.type == 'link' %}
                  <a {% if not internal %}target="_blank"{% endif %} href="{{ item.url }}">{{ item.name }}</a>
                {% endif %}
              </li>
            {% endfor %}
            {% if outer_group.last and theme.options.header.nav.reservations_link%}
              <li><a href="#" data-toggle="modal" data-target="#modal-opentable">Reservations</a></li>
            {% endif %}
          </ul>
        {% endfor %}
      {% endif %}
    </nav>

    {% if not theme.options.header.nav.below_logo and theme.options.header.nav.vertically_center %}
      <img class="logo" src="{{ account.logo }}" alt="{{ account.site.title }}">
    {% endif %}
  </div>

  {% for item in navs.main|selectattr("homepage") %}
    {% if item.fields.alert and item.fields.alert.text %}
      <div id="header-alert-wrapper" {% if theme.options.header.nav.overlay %}class="with-overlay"{% endif %}>
        <div id="header-alert">
            <a class="close">&times;</a>
            <div class="wysiwyg">{{ item.fields.alert.text|safe }}</div>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  {% if boxes.header_gallery and theme.options.header.carousel.show %}
  <div id="header-carousel" class="carousel slide" data-ride="carousel" data-interval="4000" data-pause="false">
    <!-- Wrapper for slides -->
    <div
      class="carousel-inner transparent"
      {% if theme.options.layout.parallax %}
        data-top-bottom="transform:translate3d(0px, 230px, 0px);"
        data-bottom-top="transform:translate3d(0px, -250px, 0px)"
      {% endif %}
      >
      {% for slide in boxes.header_gallery.all %}
        <div id="hero-slide-{{ loop.index0 }}" class="item {% if loop.first %}active{% endif %}" style="background-image: url('{{ slide.fields.image_url }}')">
          <div class="carousel-caption-wrapper{% if theme.options.header.nav.overlay and theme.options.header.nav.vertically_center %} bottom-align{% endif %}">
            {% if slide.fields.text or slide.fields.title %}
            <div class="carousel-caption">
              {% if slide.fields.title %}
                <h1>{{ slide.fields.title }}</h1>
              {% endif %}
              {% if slide.fields.text %}
                <div class="wysiwyg">{{ slide.fields.text|safe }}</div>
              {% endif %}
              {% if slide.fields.button_text %}
                <a href="{{ slide.fields.button_target }}"><button class="btn">{{ slide.fields.button_text }}</button></a>
              {% endif %}
            </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

    {% if boxes.header_gallery.all|length > 1 %}
      <!-- Controls -->
      <a class="left carousel-control" href="#header-carousel" data-slide="prev">
        <span></span>
      </a>
      <a class="right carousel-control" href="#header-carousel" data-slide="next">
        <span></span>
      </a>
    {% endif %}
  </div>
  {% endif %}

  {% include 'header/_sticky.html' %}
</header>
