{% from '_social-icons.html' import social_icons %}
{% import "_macros/_tracking.html" as bbTrack %}

<nav id="mobile-header" class="navbar navbar-default visible-xs hidden-print" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-nav-dropdown" alt="navbar toggle" style="text-indent: -9999px; white-space: nowrap;">Navbar Toggle
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      {% if "/store" in current.url %}
      <div class="cart-icon pull-right">
        <a href="{{ store.cart.url }}">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 77 124.84375" enable-background="new 0 0 77 99.875" xml:space="preserve"><path d="M64.427,25.875c0-14-11.628-25.972-25.973-25.972c-14.342,0-25.97,11.972-25.97,25.972H0v74h77v-74H64.427z M17.887,25.875  c0-12,9.333-20.833,20.834-20.833c11.508,0,20.834,8.833,20.834,20.833H17.887z"/></svg><span>{{ store.cart.quantity }}</span>
        </a>
      </div>
      {% endif %}

      <a class="navbar-brand" href="{% if absolute_nav %}{{ account.site.url }}{% else %}#{% endif %}">
        {% if theme.options.header.sticky.logo %}
          <img src="{{ theme.options.header.sticky.logo }}" alt="{{ account.site.title }}">
        {% else %}
          <img src="{{ account.logo }}" alt="{{ account.site.title }}">
        {% endif %}
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="mobile-nav-dropdown">
      <ul class="nav navbar-nav">
        {% for item in navs.main|rejectattr("homepage") if item.template != 'instagram/instagram.html' %}
        <li>
          {% if item.type == 'link' or item.template == "store/index.html" %}
              <a {% if item.type == 'link' and not item.internal %}target="_blank"{% endif %} class="{{ item.classes }}" href="{{ item.url }}">{{ item.name }}</a>
          {% elif item.type == 'page' %}
            <a href="{% if absolute_nav %}{{ account.site.url }}{% endif %}#{{ item.slug }}" data-toggle="collapse" data-target="#mobile-nav-dropdown">{{item.name}}</a>
          {% endif %}
        </li>
        {% endfor %}
        {% if theme.options.header.nav.reservations_link and not theme.options.address_bar.mobile_reservation_btn %}
          <li><a href="{{ account.reservations.url }}" target="_blank" data-toggle="collapse" data-target="#mobile-nav-dropdown" {{ bbTrack.button(category="Reservations Trigger Button", label="Navigation, Header") }}>Reservations</a></li>
        {% endif %}
        {% if theme.options.address_bar.social_icons or theme.options.footer.social_links %}
          <div class="social-links text-center">
            {{ social_icons(account, "", true, "Header") }}
          </div>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
