{% import "_macros/_tracking.html" as bbTrack %}

<div id="sticky-header" class="hidden-print hidden-xs{% if not theme.options.header.sticky.show %} hidden{% endif %}">

  <div class="content-wrapper max-width">

    <div id="sticky-logo-wrapper">
      <a href="{% if absolute_nav %}{{ account.site.url }}{% else %}#{% endif %}">
        {% if theme.options.header.sticky.logo %}
          <img src="{{ theme.options.header.sticky.logo }}" alt="{{ account.site.title }}">
        {% else %}
          <img src="{{ account.logo }}" alt="{{ account.site.title }}">
        {% endif %}
      </a>
    </div>

    <div id="sticky-nav-wrapper">
      <nav class="nav text-right">
        <ul class="list-inline">
          {% for item in navs.main|rejectattr("homepage") if item.template != 'instagram/instagram.html' %}
            <li>
            {% if item.type == 'link' or item.template == "store/index.html" %}
              <a {% if item.type == 'link' and not item.internal %}target="_blank"{% endif %} class="{{ item.classes }}" href="{{ item.url }}">{{ item.name }}</a>
            {% elif item.type == 'page' %}
              <a href="{% if absolute_nav %}{{ account.site.url }}{% endif %}#{{ item.slug }}">{{ item.name }}</a>
            {% endif %}
            </li>
          {% endfor %}
          {% if theme.options.header.nav.reservations_link %}
            {% if account.reservations.provider == "reserve" and account.reservations.id %}
                <li><a href="#" class="rsrv-link" {{ bbTrack.button(category="Reservations Trigger Button", label="Navigation, Header") }}>Reservations</a></li>
              {% endif %}
              {% if account.services.opentable.id %}
                <li><a href="#" data-toggle="modal" data-target="#modal-opentable" {{ bbTrack.button(category="Reservations Trigger Button", label="Navigation, Header") }}>Reservations</a></li>
              {% endif %}
          {% endif %}

        {% if "/store" in current.url %}
          <div class="cart-icon pull-right">
            <a href="{{ store.cart.url }}">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 77 124.84375" enable-background="new 0 0 77 99.875" xml:space="preserve"><path d="M64.427,25.875c0-14-11.628-25.972-25.973-25.972c-14.342,0-25.97,11.972-25.97,25.972H0v74h77v-74H64.427z M17.887,25.875  c0-12,9.333-20.833,20.834-20.833c11.508,0,20.834,8.833,20.834,20.833H17.887z"/></svg><span>{{ store.cart.quantity }}</span>
            </a>
          </div>
        {% endif %}
        </ul>
      </nav>
    </div>
  </div>
</div>
