{% from '_social-icons.html' import social_icons %}

<article class="team-member col-md-{{12 // theme.options.team.columns }}">
  <div {% if theme.options.team.columns == 1 %}class="col-sm-6"{% endif %}>
    {% if person.image %}
      <div class="person-image image-stroke" style="background-image: url('{{person.image|image_url}}')">
      </div>
    {% endif %}

    {% if person.button_target %}
      <a target="_blank" href="{{ person.button_target }}"><img src="{{ ACCOUNT_STATIC_URL }}img/aprildotcom.png" alt="{{ person.button_text }}" /></a>
    {% endif %}
  </div>

  <div {% if theme.options.team.columns == 1 %}class="col-sm-6 horizontal"{% endif %}>
    <h2>{{ person.name }}</h2>

    {% if person.title %}
      <h4>{{ person.title }}</h4>
    {% endif %}

    {% if theme.options.team.bio and person.bio %}
      <div class="wysiwyg">{{ person.bio|safe }}</div>
    {% endif %}

    {% if theme.options.team.icons %}
      <div class="social-links">
        {% if person.social.facebook %}
          <a target="_blank" href="{{ person.social.facebook }}">
            <span class="fa-stack fa-sm">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
          </a>
        {% endif %}

        {% if person.social.twitter %}
          <a target="_blank" href="{{ person.social.twitter }}">
            <span class="fa-stack fa-sm">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
          </a>

        {% endif %}

        {% if person.social.instagram %}
          <a target="_blank" href="{{ person.social.instagram }}">
            <span class="fa-stack fa">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x"></i>
            </span>
          </a>
        {% endif %}

        {% if person.social.vine %}
          <a target="_blank" href="{{ person.social.vine }}">
            <span class="fa-stack fa">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-vine fa-stack-1x"></i>
            </span>
          </a>
        {% endif %}

        {% if person.social.linkedin %}
          <a target="_blank" href="{{ person.social.linkedin }}">
            <span class="fa-stack fa">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x"></i>
            </span>
          </a>
        {% endif %}

        {% if person.social.pinterest %}
          <a target="_blank" href="{{ person.social.pinterest }}">
            <span class="fa-stack fa">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-pinterest fa-stack-1x"></i>
            </span>
          </a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</article>
