{% verbatim %}

<script id="pages-hero-edit-template" type="text/x-handlebars-template">
<style type="text/css">
#edit_page_description {display:none !important; }
</style>
<div class="grid_container">
  <div class="grid">
    <div class="unit span-grid">
      <div class="callout-edit box flag-icon" data-callout-name="homepage-alert"></div>
    </div>
    <div class="multi-unit span-grid grid-icon">
        <div class="boxes-edit" data-box-name="CustomBox"></div>
    </div>
  </div>
</div>
</script>

<script id="pages-home-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="unit span-grid">
      <div class="box grid-icon external-link tall"><a href="/bentobox/generic_boxes/">Hero Image<span>Jumps to Custom Boxes to Edit</span></a></div>
    </div>
    <div class="unit span-grid">
      <div class="box grid-icon external-link tall"><a href="/bentobox/galleries/">All Galleries<span>Jumps to Galleries to Edit</span></a></div>
    </div>
  </div>
</div>
</script>

<script id="pages-locations-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="unit span-grid">
      <div class="box grid-icon external-link"><a href="/bentobox/locations/">Hours & Locations<span>Jumps to Locations to Edit</span></a></div>
      </div>
    </div>
  </div>
</div>
</script>

<script id="pages-menus-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="unit span-grid">
      <div class="box grid-icon external-link"><a href="/bentobox/menus/">Menus<span>Jumps to Menus to Edit</span></a></div>
      </div>
    </div>
  </div>
</div>
</script>

<script id="pages-about-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="unit span-grid">
      <div class="box grid-icon external-link"><a href="/bentobox/staff/">Team<span>Jumps to Team to Edit</span></a></div>
      </div>
    </div>
  </div>
</div>
</script>

<script id="pages-private-events-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="unit span-grid">
      <div class="box grid-icon external-link"><a href="/bentobox/private-events/">Private Events<span>Jumps to Private Events to Edit</span></a></div>
      </div>
    </div>
  </div>
</div>
</script>

<script id="pages-contact-edit-template" type="text/x-handlebars-template">
<style type="text/css">
#locked-form { float:left !important; }
@media screen and (max-width:817px) {
  #locked-form { float:none !important; }
}
</style>
<div class="grid_container">
  <div class="grid">
    <div class="unit one-of-two" id="locked-form">
      <div class="locked box"><a>Form</a></div>
    </div>
    <div class="multi-unit short multi-one-of-two grid-icon">
        <div class="boxes-edit" data-box-name="Location"></div>
    </div>
  </div>
</div>
</script>

<script id="pages-links-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="unit span-grid">
      <div class="box grid-icon external-link"><a href="/bentobox/press/">Links<span>Jumps to Press to Edit</span></a></div>
      </div>
    </div>
  </div>
</div>
</script>

<script id="pages-news-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="multi-unit span-grid grid-icon">
        <div class="boxes-edit" data-box-name="BlogPost"></div>
    </div>
  </div>
</div>
</script>

<script id="pages-private-dining-edit-template" type="text/x-handlebars-template">
<div class="grid_container">
  <div class="grid">
    <div class="multi-unit span-grid grid-icon">
        <div class="boxes-edit" data-box-name="Venue"></div>
    </div>
  </div>
</div>
</script>

{% endverbatim %}
