{% extends 'store/_base_store.html' %}

{% block bodyClass %}store-landing-body{% endblock %}

{% macro render_product(product) -%}
<div class="col-md-{{12 // theme.options.store.columns }}">
    <a class="product" href="{{ product.url }}">
        {% if product.image %}
          <div class="product-image-wrap">
            <div class="product-image image-stroke" style="background-image: url('{{product.image}}')">
            </div>
          </div>
        {% endif %}
        <div class="name">{{ product.name }}</div>
        {% if product.price %}
            <div class="price">${{ product.price }}</div>
        {% endif %}
    </a>
</div>
{%- endmacro %}

{% block content %}
<div class="wrap">
<div class="store products">

  {% if boxes.store_gallery.all|length > 0 %}
  <div id="header-carousel" class="carousel slide" data-ride="carousel" data-interval="4000" data-pause="false">
    <!-- Wrapper for slides -->
    <div
      class="carousel-inner transparent"
      {% if theme.options.layout.parallax %}
        data-top-bottom="transform:translate3d(0px, 230px, 0px);"
        data-bottom-top="transform:translate3d(0px, -250px, 0px)"
      {% endif %}
      >
      {% for slide in boxes.store_gallery.all %}
        <div id="hero-slide-{{ loop.index0 }}" class="item {% if loop.first %}active{% endif %}" style="background-image: url('{{ slide.fields.image_url }}')">
          <div class="carousel-caption-wrapper{% if theme.options.header.nav.overlay and theme.options.header.nav.vertically_center %} bottom-align{% endif %}">
            {% if slide.fields.text or slide.fields.title %}
            <div class="carousel-caption">
              {% if slide.fields.title %}
                <h1>{{ slide.fields.title }}</h1>
              {% endif %}
              {% if slide.fields.text %}
                <div class="wysiwyg">{{ slide.fields.text|safe }}</div>
              {% endif %}
              {% if slide.fields.button_text %}
                <a href="{{ slide.fields.button_target }}"><button class="btn">{{ slide.fields.button_text }}</button></a>
              {% endif %}
            </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

    {% if boxes.store_gallery.all|length > 1 %}
      <!-- Controls -->
      <a class="left carousel-control" href="#header-carousel" data-slide="prev">
        <span></span>
      </a>
      <a class="right carousel-control" href="#header-carousel" data-slide="next">
        <span></span>
      </a>
    {% endif %}
  </div>
{% endif %}

<div class="container-fluid max-width" id="product-listing">
  <div class="container-fluid max-width">

    <!-- Tabs -->
    <div class="row hidden-xs">
      <div class="col-xs-12">
        <ul class="nav nav-pills nav-justified" role="tablist">

          {% for category in store.products.categories %}
             <li><a class="hidden-xs-down {% if current.slug == category.slug %}active{% endif %}" href="{{ category.url }}">{{ category.name }}</a></li>
          {% endfor %}

        </ul>
      </div>
    </div>
    <!-- end Tabs -->

    <!-- Produts -->
      {% for group in current.all|batch(theme.options.store.columns) %}
        <div class="row">
          {% for product in group %}
            {{ render_product(product) }}
          {% endfor %}
        </div>
      {% endfor %}
    <!-- End Products -->
  </div>
</div>
</div>

<div class="push"></div>
</div>
{% endblock %}

{% block initScripts %}
<script type="text/javascript">
$(document).ready(function() {
    //Bento.GiftCards.initialize();
});
</script>
{% endblock %}
