<section id="address-bar" class="hidden-print {% if not theme.options.address_bar.mobile_address and not theme.options.address_bar.mobile_phone_number and not theme.options.address_bar.mobile_reservation_btn %}hidden-xs{% endif %} {% if not theme.options.address_bar.show %}hidden-sm hidden-md hidden-lg{% endif %}">
  <div class="container-fluid max-width">
    <div class="row">
      {% if theme.options.address_bar.social_icons %}
        <div class="social-links hidden-xs">
          {% include "_social-icons.html" %}
        </div>
      {% endif %}
      {% if boxes.locations.all|length == 1 %}
        {% set location=boxes.locations.all.0 %}
        <div class="col-sm-12{% if not theme.options.address_bar.social_icons %} text-center{% endif %}">
          {% if location.address %}
            <a class="address hidden-xs" href="http://google.com/maps?q={{location.name}}+{{location.address}}" target="_blank">{{ location.address }}</a>
          {% endif %}

          {% if location.phone_number %}
            <a class="phone-number hidden-xs" href="tel:{{ location.phone_number }}" target="_blank">{{ location.phone_number }}</a>
          {% endif %}
        </div>
      {% endif %}

      {% if theme.options.address_bar.mobile_address %}
        {% set location=boxes.locations.all.0 %}
        {% if location.address %}
          <div class="col-xs-12 visible-xs">
            <a class="address" href="http://google.com/maps?q={{location.name}}+{{location.address}}" target="_blank">{{ location.address }}</a>
          </div>
        {% endif %}
      {% endif %}

      {% if theme.options.address_bar.mobile_phone_number %}
        {% set location=boxes.locations.all.0 %}
        {% if location.phone_number %}
          <div class="col-xs-12 visible-xs">
            <a class="phone-number btn" href="tel:{{ location.phone_number }}" target="_blank">{{ location.phone_number }}</a>
          </div>
        {% endif %}
      {% endif %}

      {% if theme.options.address_bar.mobile_reservation_btn %}
        <div class="col-xs-12 visible-xs">
          <a href="{{ account.reservations.url }}" target="_blank" class="btn visible-xs reservations-link">Make a Reservation</a>          
        </div>
      {% endif %}
    </div>
  </div>
</section>
