#address-bar {
  background-color: {{ theme.options.address_bar.bg_color }};
  margin-bottom: 0;
  max-width: 100%;
  padding: 15px 0;
  text-align: center;
  margin-top: 0;
  color: {{ theme.options.address_bar.color }};
  height:  auto;
  text-align: center;
  position: relative;
  z-index: 1200;

  {% if theme.options.address_bar.bg_image %}
    background-image: url('{{ theme.options.address_bar.bg_image }}');
  {% endif %}

  {% if theme.options.address_bar.shadow %}
    @include box-shadow(0 1px 6px rgba(0,0,0,0.4));
  {% endif %}

  @media (min-width: 768px) {
    height: 42px;
    padding: 0;

    {% if theme.options.address_bar.social_icons %}
      text-align: left;
    {% endif %}
  }

  a, a:hover, a:focus {
    text-decoration: none !important;
  }

  a:not(.btn) {
    {% if theme.options.typography.font_family %}
      font-family: {{ theme.options.typography.font_family }};
    {% endif %}
    color: {{ theme.options.address_bar.color }};
    line-height: 42px;
    margin-right: 10px;
    display: block;

    &:last-child {
      margin-right: 0;
    }

    &:hover, &:active, &:focus {
      color: {{ theme.options.address_bar.hover_color }};
      text-decoration: none;

      {% if theme.options.address_bar.hover_underline %}
        text-decoration: underline;
      {% endif %}
    }

    @media (min-width: 768px) {
      display: inline-block;
    }
  }

  // These are styled to look/behave like buttons
  .social-links {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 15px;
    margin: 0;
    z-index: 10;

    a {
      @include transition(all .4s);
      color: darken({{ theme.options.address_bar.bg_color }}, 10%);

      &:hover, &:focus, &:active {
        color: {{ theme.options.address_bar.hover_color }};
      }
      // Two icons are stacked. The first child is the bg, the second is the actual icon
      i:last-child {
          color: {{ theme.options.address_bar.color }};
        }
      }
  }

  .btn {
    margin: 6px auto;
    color: {{ theme.options.address_bar.color }};
    background-color: darken({{ theme.options.address_bar.bg_color }}, 10%);
    width: 90%;
    @media (min-width: 768px) {
      width: auto;
    }
  }
}

.address-bar-sticky {
  #address-bar {
    @media (min-width: 768px) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1200;
      width: 100%;
    }
  }
}