.carousel-wrapper {
  // margin-bottom: 100px;
}

.carousel {
  position: relative;
  // top: -1*$section-padding-top;
  // top: 100px;
  height: 600px;
  overflow: hidden;
  width: 100%;

  @media (max-width: 767px) {
    height: 300px;
  }

  // &.carousel-bottom {
  //   top: $section-padding-bottom;
  // }

  .item {
    height: 100%;
    background-size: cover;
    background-position: center top;
    @include transition(left .7s ease-in-out);
  }

  .carousel-inner {
    height: 1100px;
    @include transition(height .5s, opacity 1s);
    position: relative;

    &.transparent {
      opacity: 0;
    }

    @media (max-width: 767px) {
      height: 300px;
      transform: translate3d(0,0,0) !important;
    }

    &.parallax-off img {
      transform: translate3d(0,0,0) !important;
    }

    &.fill-height img {
      transform: translate3d(0,0,0) !important;
      min-height: 100%;
    }
  }

  .carousel-caption-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 600px;

    @media (max-width: 767px) {
      height: 300px;
    }

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em; /* Adjusts for spacing */
    }
  }

  .carousel-control {
    background-image: none!important;
    z-index: 90;

    span {
      width: 50px;
      height: 50px;
      background-position: center;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -25px;
      margin-left: -25px;
    }

    &.right span { background-image: url('{{ static("/images/carousel-icons/1/right-arrow.png") }}'); }
    &.left span { background-image: url('{{ static("/images/carousel-icons/1/left-arrow.png") }}'); }
  }

  .carousel-control, .carousel-indicators {
    display: none;
  }

  &:hover {
    .carousel-control, .carousel-indicators {
      display: block;
    }
  }

  {% if theme.options.layout.fade_carousel %}
    &:not(#carousel-news) {
      .item {
        @include transition(opacity 1.5s);
      }
      .active.left { left:0; opacity:0; z-index:2; }
      .active.right { left:0; opacity:0; z-index:2; }
      .next { left:0; opacity:1; z-index:1; }
    }
  {% endif %}
}