section.instagram-section {
  display:block;
  padding:0;
  .photo {
    width:20%;
    height:auto;
    display:inline-block;
    float:left;
    img { width:100%; }
  } 

  &:before,
  &:after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }
  
  &:after {
      clear: both;
  } 
  @media (max-width: 767px) {
    .photo { width:50%; }
    .photo:nth-child(3), 
    .photo:nth-child(4), 
    .photo:nth-child(5), 
    .photo:nth-child(6), 
    .photo:nth-child(7), 
    .photo:nth-child(8) { display:none; }
  } 
}
