.press-section {
  {% if theme.options.press.custom_styles and theme.options.press.bg_color %}
    background-color: {{ theme.options.press.bg_color }} !important;
  {% endif %}

  {% if theme.options.press.custom_styles and theme.options.press.bg_image %}
    background-image: url('{{ theme.options.press.bg_image }}');
  {% endif %}

  {% if theme.options.press.custom_styles and theme.options.press.color %}
    color: {{ theme.options.press.color }};
  {% endif %}

  .featured-press, .unfeatured {
    .row:not(:first-child) {
      margin-top: 10px;
    }
  }

  .unfeatured {
    margin-top: 15px;
  }

  .thumbnail {
    padding: 0;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 767px) {
      margin-top: 30px;
    }
  }

  .pressthumb {
    width: 100%;
    height: 200px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    background-size: cover;
    background-position: top;

    @media (min-width: 768px) {
      height: 250px;
      background-position: center;
    }
  }

  .print-link {
    .closed {
      display: none;
    }

    &.collapsed {
      .open {
        display: none;
      }
      .closed {
        display: block;
      }
    }
  }

  .caption {
    h3 {
      margin: 0 0 7px;
    }

    p {
      line-height: 1.2;
      margin: 0;
    }
  }

  .press-group {
    margin-top: 20px;
  }
}