.gift-cards {
	.pick-card-type {
	    text-align: center;
	}

	padding-top: 100px;

	.btn {
		margin-bottom: 30px;
		margin-left: 25px;
		min-width: 324px;
	}
	.formContainer {
		margin-top: 20px;
		margin-bottom: 30px;
	}

	div.errorMessage {
		text-align: left;
		color: red;
	}

	#calendar-icon {
		position: absolute;
		top: 20px;
		right: 30px;
		color: #555;
	}
}


.store.cart {
	text-align: left;
	margin-top: 100px;

	h1 {
		margin-top:60px;
	}

	.cart-titles {
		padding-top: 36px;
		margin-bottom: -12px;

		+ .row hr {
			margin-top: 8px;
		}
	}

	.row.item {
		padding: 15px 0;
	}

	.btn { margin-bottom:25px; }
}

.cart-icon {
	margin-right: 15px;
	a {
	    border: none;
	    color: {{ theme.options.buttons.color }};
	    background: {{ theme.options.buttons.bg_color }};
	    border-radius: 3px;
	    display: block;
	    line-height: 2.25em;
	    img {
	    	height: 18px;
	    	margin: -9px 10px 0 10px;
	    }

	    span {
	    	display: inline-block;
  			{% if theme.options.typography.font_family %}
  			  font-family: {{ theme.options.typography.font_family }};
  			{% endif %}
  			{% if theme.options.typography.font_weight %}
  				font-weight: {{  theme.options.typography.font_weight }};
  			{% endif %}
  			{% if theme.options.buttons.color %}
				color: {{ theme.options.buttons.color }};
  			{% endif %}
	    	text-decoration: none;
	    	padding: 0 10px;
	    	border-left: solid 1px #ffffff;
	    }

		svg {
			margin: 0 10px -9px;
			height: 23px;
	        width:14px;
			path {
  				{% if theme.options.buttons.color %}
					fill: {{ theme.options.buttons.color }};
  				{% endif %}
			}
		}

	}
}
nav#mobile-header .cart-icon {
	margin-top:9px;
	margin-right:5px;
}
#sticky-header .cart-icon {
	margin:-6px 16px 0 8px;
}

.store {
	h1 {
		margin-top: 24px;
		margin-bottom: 36px;
	}

	.cart-details.checkout {
		margin-top: 20px;
	}

	@media (max-width: 767px) {
	  margin-top: 25px;
	}
}

.store.products {

	#intro {
		position:relative;
		min-height:200px;
		margin-bottom: 25px;

		.splash {
			width:100%;
			height:100%;
			position:absolute;
			z-index:99;
			.container {
				position:absolute;
				width:100%;
				top:50%;
				-webkit-transform:translateY(-50%);
				transform:translateY(-50%);
			}
		}
		.carousel-control { display:block; }
		&.has-slides {
			.splash, .splash h2 { color:#ffffff; }
		}
		* { color:#ffffff; }
	}

	.cart-icon { margin-bottom:25px; }

	#product-listing { padding-top:40px; }
	.product {
		display:block;
		text-align:left;
    	margin-bottom: 30px;
    	text-decoration:none;
    	color:unset;

    	.product-image-wrap {
    	  display:block;
    	  overflow:hidden;
    	  width:100%;
		  height: 260px;
		  @media (max-width: 767px) {
		    height: 400px;
		  }
    	}
		.product-image {
		  background-size: cover;
		  background-position: center;
		  height: 260px;
		  margin-bottom:12px;
    	  -webkit-transition: opacity .3s, -webkit-transform .3s;
    	  transition: opacity .3s, transform .3s;

		  @media (max-width: 767px) {
		    height: 400px;
		  }
		}

    	&:hover .product-image {
    		opacity:.8;
    	}
	}
}

.store.product {
	text-align:left;
	.cart-icon {
		margin-bottom:25px;
	}
	.feature-image-wrap {
		.feature-image {
			height:470px;
			background-position: center center;
			background-size:cover;
			margin-bottom:30px;
		}
		.image-option {
			height:145px;
			background-position: center center;
			background-size:cover;
			margin-bottom:30px;
		}
	}
	h2 {
		text-transform:uppercase;
		font-size:30px;
		margin:0;
	}
	#price {
		margin-bottom:36px;
	}
	hr {
		margin-bottom:24px;
	}
	label {
		font-weight:normal;
		margin-top:18px;
	}

	button {
		margin-bottom:25px;
	}
	.back {
		display:block;
		margin:25px 0;
	}


}

body.store-landing-body, body.store-product-body {
	overflow-x:hidden;
}

#added-to-cart {
	display:none;
	position:fixed;
	top:0;
	z-index:1000;
	height:100%;
	width:100%;
	background: rgba(0,0,0,.5);
	.modal {
		display:block;
		background:#ffffff;
		padding:25px;
		width:100%;
		height:auto;
		max-width:440px;
		position:relative;
		top:50%;
		left:50%;
		-webkit-transform:translate(-50%,-50%);
		-moz-transform:translate(-50%,-50%);
   		 -ms-transform:translate(-50%,-50%);
		transform:translate(-50%,-50%);
		img {
			max-width:100%;
			margin-bottom: 20px;
		}
		h2 {
			margin:0 0 8px;
			font-size:18px;
			text-transform:uppercase;
		}
		.btn {
			width:100%;
		}
		.x.remove {
			position:absolute;
			top:15px;
			right:15px;
			text-decoration:none;
			color: #d5d5e1;
			font-size: 48px;
			line-height:26px;
    		font-weight: bold;
    		z-index:1;
		}
	}
}

html, body.store-cart-body:not(.sticky-powered-by), body.gift-cards-body:not(.sticky-powered-by), body.store-landing-body:not(.sticky-powered-by), body.store-product-body:not(.sticky-powered-by) {
	height: 100%;
	margin-bottom:0 !important;
	.wrap {
		min-height: 100%;
		margin:0 auto -105px;
		.store.products, .store.product, .store.cart, .store.gift-cards {
			margin-top:0;
			padding-top:60px;
			@media (max-width: 767px) {
				padding-top:0;
			}
		}
		.push {
			height: 105px;
		}
	}
	#powered-by {
	}
}
