<div class="col-md-{{ 12 // theme.options.press.columns }}">
    {% if article.image %}
      {% if article.file %}
        <div class="thumbnail">
          <a class="lightbox" href="{{ article.file }}" data-slug="{{ article.slug }}" data-section="{{ section.slug }}" data-lightbox-type="iframe">
            {{ article.name }}
            <div class="pressthumb image-stroke" style="background-image: url('{{ article.image }}')" alt="{{ article.name }} Image"></div>
          </a>
        </div>
      {% elif article.external_url %}
        <a class='featured-link' href="{{article.external_url}}" target="_blank">
          {{ article.name }}
          <div class="thumbnail">
            <div class="pressthumb image-stroke" style="background-image: url('{{ article.image }}')" alt="{{ article.name }} Image"></div>
          </div>
        </a>
      {% else %}
        <div class="thumbnail">
          <div class="pressthumb image-stroke" style="background-image: url('{{ article.image }}'')" alt="{{ article.name }} Image"></div>
        </div>
      {% endif %}
    {% endif %}
    <div class="caption">
      {% if article.file %}
        <h3><a class="lightbox" href="{{article.file}}" data-slug="{{ article.slug }}" data-section="{{ section.slug }}" data-lightbox-type="iframe">{{ article.title }}</a></h3>
      {% elif article.external_url %}
        <h3><a href="{{ article.external_url }}" target="_blank">{{ article.title }}</a></h3>
      {% else %}
        <h3>{{ article.title }}</h3>
      {% endif %}
      <p>
        {% if article.source %}<span class="source">{{ article.source }}</span>{% endif %}{% if article.source and article.date %} | {% endif %}{% if article.date %}<span class="date">{{ article.date|date("%b %-d, %Y") }}</span>{% endif %}
      <p>
    </div>
</div>
