<section id="{{ section.slug }}" class="press-section hidden-print">
  <div class="container-fluid thumbs max-width">
    {% if theme.options.press.header %}
      {% include "section-header.html" %}
    {% endif %}

    {% if section.fields.description and section.fields.description.text %}
      {% include "section-description.html" %}
    {% endif %}

    {% if theme.options.press.see_all and boxes.press.all|length > boxes.press.featured|length %}
      <div class="row hidden-xs">
        <div class="col-sm-12">
          <a data-toggle="collapse" data-target=".unfeatured" class="print-link collapsed"><span class="open">HIDE</span><span class="closed">SEE ALL</span></a>
        </div>
      </div>
    {% endif %}

    <!-- Featured Press -->
    <div class="featured-press bucket-into-rows" data-columns="{{ theme.options.press.columns }}">
      {% for article in boxes.press.featured %}
        {% include "press/featured_article.html" with context %}
      {% endfor %}
    </div>
    <!-- End Featured Press -->

    {% if theme.options.press.see_all and boxes.press.all|length > boxes.press.featured|length %}
      <div class="row visible-xs">
        <div class="col-sm-12">
          <a data-toggle="collapse" data-target=".unfeatured" class="print-link collapsed {% if not theme.options.press.see_all %}in{% endif %}"><span class="open">HIDE</span><span class="closed">SEE ALL</span></a>
        </div>
      </div>
    {% endif %}

    <!-- Unfeatured Press -->
    <div class="unfeatured collapse {% if not theme.options.press.see_all %}in{% endif %}">
      {% with categories = boxes.press.by_category_slug %}
      {% for category in categories %}
        {% if categories[category].all|rejectattr("featured")|list|length > 0 %}
          {% if theme.options.press.categories and categories[category].slug != 'uncategorized' %}
          <div class="row">
            <h2 class="col-sm-12">{{categories[category].name}}</h2>
          </div>
          {% endif %}
          <div class="bucket-into-rows" data-columns="{{ theme.options.press.columns }}">
            {% for article in categories[category].all|rejectattr("featured") %}
              {% include "press/article.html" with context %}
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
      {% endwith %}
    </div>
    <!-- End Unfeatured Press -->
  </div>
</section>

<!-- Press Carousel -->
{% if theme.options.press.gallery %}
  <div id="press-carousel" class="carousel-wrapper">
    {% for gallery in boxes.galleries.all %}
      {% if gallery.name|lower == "press" %}
        {% include "carousel.html" %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
<!-- end Press Carousel -->
