<section id="{{ section.url|replace("/","") }}" class="private-events-section hidden-print">
  <div class="container-fluid max-width">
    {% if theme.options.private_events.header %}
      {% include "section-header.html" %}
    {% endif %}

    {% if section.fields.description and section.fields.description.text %}
      {% include "section-description.html" %}
    {% endif %}

    <div class="row">
      <div class="col-sm-4">
        {% if section.fields.description and section.fields.description.text %}
          <div class="wysiwyg">
            {{ section.fields.description.text|safe }}
          </div>
        {% endif %}
      </div>
      <div class="col-sm-8 text-right">
        {% if theme.options.private_events.pdf_button and boxes.venues.all|length == 1 %}
          <button class="btn">Download PDF</button>
        {% endif %}
        
        {% if not theme.options.private_events.form.no_form and theme.options.private_events.form.inquiry_button %}
          <!-- if form and inquiry button -->
          {% if boxes.venues.all|length == 1 %}
            <!-- if one venue, show btn if form hidden -->
            {% if theme.options.private_events.form.hide %}
              <a href="#event_inquiry" class="btn">Inquiry Form</a>
            {% endif %}
          {% else %} 
            {% if not theme.options.private_events.form.inquiry_button_per_venue %}
              <!-- if multi venues, hide if btns per venue -->
              <a href="#event_inquiry" class="btn">Inquiry Form</a>
            {% endif %}
          {% endif %}
        {% endif %}
      </div>
    </div>
    
    {% if boxes.venues.all|length == 1 %}
      {% for venue in boxes.venues.all %}
        <div class="row">
          <div class="{% if theme.options.private_events.form.no_form %}col-sm-12{%else%}col-sm-6{% endif %} wysiwyg">
            <p>{{venue.description|safe}}</p>
          </div>

          {% if not theme.options.private_events.form.no_form %}
            <div class="col-sm-6">
              <div id="event_inquiry" {% if theme.options.private_events.form.hide %}class="collapse"{% endif %}>
                {% if theme.options.private_events.form.header %}
                  <h2>{{ theme.options.private_events.form.header }}</h2>
                {% endif %}
                {% set recipient=theme.options.private_events.form.contact_email %}
                {% include "private_events/form.html" %}
              </div>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    {% else %}
      {% for venue in boxes.venues.all %}
        <div class="row venue">
          <div class="{% if venue.images|length > 0 %}col-sm-4{% else %}col-sm-12{% endif %}">
            <h2>{{venue.name}}</h2>
            <div class="wysiwyg">{{venue.description|safe}}</div>
          </div>
          {% if venue.images|length > 0 %}
            <div class="col-sm-8">
              {% include "private_events/carousel.html" %}
            </div>
          {% endif %}
        </div>
      {% endfor %}

      {% if not theme.options.private_events.form.no_form %}
        <div class="row">
          <div class="col-sm-12">
            <div id="event_inquiry" {% if theme.options.private_events.form.hide %}class="collapse"{% endif %}>
              {% if theme.options.private_events.form.header %}
                <h2>{{ theme.options.private_events.form.header }}</h2>
              {% endif %}
              {% set recipient=theme.options.private_events.form.contact_email %}
              {% include "private_events/form.html" %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}
  </div>
</section>

<!-- Private Events Carousel -->
{% if theme.options.private_events.gallery %}
  <div id="private-events-carousel" class="carousel-wrapper">
    {% for gallery in boxes.galleries.all %}
      {% if gallery.name|lower == "private events" %}
        {% include "carousel.html" %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
<!-- end Private Events Carousel -->