{% import 'forms.html' as forms with context %}
{% from '_social-icons.html' import social_icons %}
{% import "_macros/_tracking.html" as bbTrack %}

<!-- Opentable Modal -->
<div id="footer-modals">
  <div class="modal fade opentable" id="modal-opentable" tabindex="-1" role="dialog" aria-labelledby="modal-opentable-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <iframe src="{{ account.reservations.url }}" width="auto" height="auto" frameBorder="0"></iframe>
      </div>
    </div>
  </div>

   <div class="modal fade seatme" id="modal-seatme" tabindex="-1" role="dialog" aria-labelledby="modal-seatme-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
    </div>
  </div>
</div>

<footer id="footer" class="hidden-print">
  <div class="container-fluid max-width">
    <div id="main-footer-content">
      {% if theme.options.footer.custom_text %}
        <div id="footer-text" class="wysiwyg">
          {{ theme.options.footer.custom_text }}
        </div>
      {% endif %}

      {% if theme.options.footer.reservations_btn %}
        {%- set footer_reservations_tracking = bbTrack.button(category="Reservations Trigger Button", label="Button, Footer") %}
        <!-- Opentable -->
        {% if account.services.opentable.id %}
          <div class="OTButton">
            <script type="text/javascript" src="{{ account.reservations.url }}"></script>
          </div>

          <!-- Desktop -->
          <button class="btn hidden-xs" data-toggle="modal" data-target="#modal-opentable" {{ footer_reservations_tracking }}>Make a Reservation</button>

          <!-- Mobile -->
          <div class="btn-wrapper visible-xs">
            <a href="{{ account.reservations.url }}" target="_blank" class="btn" {{ footer_reservations_tracking }}>Make a Reservation</a>
          </div>
        {% endif %}
        <!-- end Opentable -->

        <!-- Resy -->
        {% if account.services.resy.api_key %}
            <div id="BookWithResy"></div>
            <script src="https://widgets.resy.com/embed.js"></script>
            <script>resyWidget.addButton(document.getElementById('BookWithResy'), { 'venueId': {{ account.services.resy.venue_id }}, 'apiKey': '{{ account.services.resy.api_key }}' });
            </script>
        {% endif %}
        <!-- end Resy -->

        {% if account.services.seatme %}
        <!-- Desktop -->
          <button class="btn hidden-xs" data-toggle="modal" data-target="#modal-seatme" {{ footer_reservations_tracking }}>Make a Reservation</button>

          <!-- Mobile -->
          <div class="btn-wrapper visible-xs">
            <a href="{{ account.reservations.url }}" target="_blank" class="btn" {{ footer_reservations_tracking }}>Make a Reservation</a>
          </div>
        {% endif %}

        {% if account.reservations.provider == "reserve" and account.reservations.id %}
          <button class="rsrv-link btn hidden-xs" {{ footer_reservations_tracking }}>Make a Reservation</button>
          <!-- Mobile -->
          <div class="rsrv-link btn-wrapper visible-xs">
            <a href="{{ account.reservations.url }}" target="_blank" class="btn" {{ footer_reservations_tracking }}>Make a Reservation</a>
          </div>
        {% endif %}
      {% endif %}

      <div class="left-content">
        {% if theme.options.footer.email_signup and account.services.newsletter|length > 0 %}
          <button id="signup-btn" class="btn" data-toggle="collapse" data-target="#footerform" {{ bbTrack.button(category="Email Sign Up Trigger Button", label="Button, Footer") }}>
            Sign up for the latest updates
          </button>
        {% endif %}

        {% if theme.options.footer.social_links %}
          <div class="social-links hidden-xs">
            {{ social_icons(account, "", true, "Footer") }}
          </div>
        {% endif %}
      </div>
    </div>

    <div id="footerform" class="collapse">
      <div class="row">
        <div class="col-sm-12">
          <button type="button" class="close" data-toggle="collapse" data-target="#footerform"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
      </div>

      {% call forms.newsletter_form() %}
        <div class="row">
          <div class="form-group">
            <div class="col-sm-4">
              <label for="first_name" class="sr-only">First Name</label>
              <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
            </div>
            <div class="col-sm-4">
              <label for="last_name" class="sr-only">Last Name</label>
              <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
            </div>
            <div class="col-sm-4">
              <label for="email" class="sr-only">Email</label>
              <input type="email" class="form-control" id="email" name="Email" placeholder="Email*">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-sm-offset-9 send">
            <p class="error-msg">An error occurred.</p>
            <p class="success-msg text-right">Success! Thank you for signing up.</p>
            <button type="button" class="btn btn-default wide submit">Send <b class="caret-right"></b></button>
          </div>
        </div>
      {% endcall %}
    </div>
  </div>
</footer>

{% if theme.options.footer.powered_by_bento %}
<div id="powered-by" class="hidden-print">
  <div class="wrapper">
    <a href="http://www.getbento.com/?utm_source=footer&utm_campaign={{ account.name }}" target="_blank">Powered by BentoBox</a>
  </div>
</div>
{% endif %}
