{% from '_social-icons.html' import social_icons %}

<!-- Opentable Modal -->
<div id="footer-modals">
  <div class="modal fade opentable" id="modal-opentable" tabindex="-1" role="dialog" aria-labelledby="modal-opentable-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <iframe src="{{ account.reservations.url }}" width="auto" height="auto" frameBorder="0"></iframe>
      </div>
    </div>
  </div>
  <div class="modal fade jobs" id="modal-jobs" tabindex="-1" role="dialog" aria-labelledby="modal-opentable-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <div class="container-fluid static-page-content">
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <br><br>
                    <h2>Apply Below</h2>
                    <br><br>
                    {% import 'forms.html' as forms with context %}
                    {% call forms.email_form(theme.options.contact.email) %}
                      <input id="recipient" type="hidden" name="recipient" value="info">
                      <div class="form-group row">
                        <div class="col-sm-12">
                          <label for="first_name" class="sr-only">First Name</label>
                          <input type="text" class="form-control" id="first_name" name="First Name" placeholder="First Name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-12">
                          <label for="last_name" class="sr-only">Last Name</label>
                          <input type="text" class="form-control" id="last_name" name="Last Name" placeholder="Last Name">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-12">
                          <label for="email" class="sr-only">Email*</label>
                          <input type="email" class="form-control" id="email" name="Email" placeholder="Email*">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-12">
                          <label for="position" class="sr-only">What position are you interested in?</label>
                          <input type="text" class="form-control" id="position" name="Position" placeholder="What position are you interested in?">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-12">
                          <label for="cover-letter" class="sr-only">Cover Letter</label>
                          <textarea id="cover-letter" name="Cover Letter" class="form-control" rows="6" placeholder="Cover Letter"></textarea>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-12">
                          <label for="file" class="pull-left">Upload Resume:&nbsp;&nbsp;</label>
                          <input type="file" name="uploaded_file" id="file" style="border:none !important; height: 20px !important;">
                        </div>
                      </div>

                      <p class="error-msg">An error occurred.</p>
                      <p class="success-msg">Success! Thank you for your message. Someone will be in touch with you shortly.</p>

                      <div class="form-group row text-left">
                        <div class="col-sm-12">
                          <button type="submit" class="btn btn-default submit">Submit <b class="caret-right"></b></button>
                        </div>
                      </div>

                    {% endcall %}
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<footer id="footer" class="hidden-print">
  <div class="container-fluid max-width">
    <div id="main-footer-content">
      {% if theme.options.footer.custom_text %}
        <div id="footer-text" class="wysiwyg">
          {{ theme.options.footer.custom_text }}
        </div>
      {% endif %}

      {% if theme.options.footer.reservations_btn %}
        <!-- Opentable -->
        {% if account.services.opentable.id %}
          <div class="OTButton">
            <script type="text/javascript" src="{{ account.reservations.url }}"></script>
          </div>

          <!-- Desktop -->
          <button class="btn hidden-xs" data-toggle="modal" data-target="#modal-opentable">Make a Reservation</button>

          <!-- Mobile -->
          <div class="btn-wrapper visible-xs">
            <a href="{{ account.reservations.url }}" target="_blank" class="btn">Make a Reservation</a>
          </div>
        {% endif %}
        <!-- end Opentable -->

        <!-- Resy -->
        {% if account.services.resy.api_key %}
            <div id="BookWithResy"></div>
            <script src="https://widgets.resy.com/embed.js"></script>
            <script>resyWidget.addButton(document.getElementById('BookWithResy'), { 'venueId': {{ account.services.resy.venue_id }}, 'apiKey': '{{ account.services.resy.api_key }}' });
            </script>
        {% endif %}
        <!-- end Resy -->

        {% if account.services.seatme %}
                  <!-- Desktop -->
          <button class="btn hidden-xs" data-toggle="modal" data-target="#modal-opentable">Make a Reservation</button>

          <!-- Mobile -->
          <div class="btn-wrapper visible-xs">
            <a href="{{ account.reservations.url }}" target="_blank" class="btn">Make a Reservation</a>
          </div>
        {% endif %}

      {% endif %}

      <div class="left-content">
        {% if theme.options.footer.email_signup %}
          <button id="signup-btn" class="btn" data-toggle="collapse" data-target="#footerform">
            Sign up for the latest updates
          </button>
        {% endif %}

        {% if theme.options.footer.social_links %}
          <div class="social-links hidden-xs">
            {{ social_icons(account) }}
          </div>
        {% endif %}
      </div>
    </div>

    <div id="footerform" class="collapse">
      <div class="row">
        <div class="col-sm-12">
          <button type="button" class="close" data-toggle="collapse" data-target="#footerform"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
      </div>

      {% import 'forms.html' as forms with context %}
      {% call forms.newsletter_form() %}
        <div class="row">
          <div class="form-group">
            <div class="col-sm-4">
              <label for="first_name" class="sr-only">First Name</label>
              <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name">
            </div>
            <div class="col-sm-4">
              <label for="last_name" class="sr-only">Last Name</label>
              <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
            </div>
            <div class="col-sm-4">
              <label for="email" class="sr-only">Email</label>
              <input type="email" class="form-control" id="email" name="Email" placeholder="Email*">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-sm-offset-9 send">
            <p class="error-msg">An error occurred.</p>
            <p class="success-msg text-right">Success! Thank you for signing up.</p>
            <button type="button" class="btn btn-default wide submit">Send <b class="caret-right"></b></button>
          </div>
        </div>
      {% endcall %}
    </div>
  </div>
</footer>

{% if theme.options.footer.powered_by_bento %}
<div id="powered-by" class="hidden-print">
  <div class="wrapper">
    <a href="http://www.getbento.com/?utm_source=footer&utm_campaign={{ theme.options.footer.utm_slug }}" target="_blank">Powered by BentoBox</a>
  </div>
</div>
{% endif %}
