<div class="news-item col-md-{{ 12 // theme.options.news.columns }}">
  <div class="caption">
    <h2><a data-toggle="modal" data-target="#modal-news-{{item.slug}}">{{ item.title }}</a></h2>

    <div class="caption">
      <a data-toggle="modal" data-target="#modal-news-{{item.slug}}">
        {% if item.fields.caption %}
          <p>{{ item.fields.caption|striptags }}</p>
        {% elif item.content %}
          <p>{{ item.content|striptags|truncate(100) }}</p>
        {% endif %}
      </a>
    </div>
  </div>
</div>