<div id="{{gallery.slug}}-carousel" class="carousel slide hidden-print" data-ride="carousel" data-interval="4000" data-pause="false">
  <!-- Wrapper for slides -->
  <div
    class="carousel-inner"
    {% if theme.options.layout.parallax %}
    data-top-bottom="transform:translate3d(0px, 250px, 0px);"
    data-bottom-top="transform:translate3d(0px, -250px, 0px)"
    {% endif %}
    >
    {% for image in gallery.images %}
      <div id="{{gallery.slug}}-slide-{{loop.index0}}" class="item {% if loop.index0 == 0 %}active{% endif %}" style="background-image: url('{{ image|image_url }}')" role="img" aria-label="{{ image|image_alt }}">
      </div>
    {% endfor %}
  </div>

  {% if gallery.images|length > 1 %}
    <!-- Controls -->
    <a class="left carousel-control sr-only" href="#{{gallery.slug}}-carousel" data-slide="prev">
      <noscript>prev</noscript>
      <span></span>
    </a>
    <a class="right carousel-control sr-only" href="#{{gallery.slug}}-carousel" data-slide="next">
      <noscript>next</noscript>
      <span></span>
    </a>
  {% endif %}
</div>