<!DOCTYPE html>
<html>
  <head>
    <!-- POWERED BY BENTOBOX | http://getbento.com -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{{ account.site.title }}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{{ account.site.meta_description }}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{{ account.site.meta_keywords }}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if theme.options.typography.font_family or theme.options.typography.h1.font_family or theme.options.typography.h2.font_family %}
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: [
              {% if theme.options.typography.font_family %}'{{ theme.options.typography.font_family }}:100,200,300,400,500,600,700,latin',{% endif %}
              {% if theme.options.typography.h1.font_family %}'{{ theme.options.typography.h1.font_family }}:100,200,300,400,500,600,700,latin',{% endif %}
              {% if theme.options.typography.h2.font_family %}'{{ theme.options.typography.h2.font_family }}:100,200,300,400,500,600,700,latin',{% endif %}
              {% if theme.options.buttons.font_family %}'{{ theme.options.buttons.font_family }}:100,200,300,400,500,600,700,latin',{% endif %}
              {% if theme.options.header.nav.font_family %}'{{ theme.options.header.nav.font_family }}:100,200,300,400,500,600,700,latin',{% endif %}
            ]
        }
      });
    </script>
    {% endif %}
    <link rel="stylesheet" href="{{ scss('style.scss') }}" />
    <!--[if lt IE 10]>
      <link rel="stylesheet" href="{{ static('css/ie9.css') }}" />
    <![endif]-->
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="{{ static('css/ie8.css') }}" />
    <![endif]-->
    <script src="{{ static('js/dist/modernizr.min.js') }}"></script>
    <link rel="icon" href="{{ account.site.favicon }}" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ account.services.google_analytics.tracking_code }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}">
    </script>

    {% if theme.options.other.head_code %}
        {{ theme.options.other.head_code|safe }}
    {% endif %}

    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7521052/7931552/css/fonts.css" />
  </head>

  <body data-spy="scroll" data-offset="200" data-target="#sticky-nav-wrapper" class="{% block bodyClass %}{% endblock %} {% if theme.options.footer.sticky %}sticky-footer{% endif %}{% if theme.options.footer.powered_by_bento and theme.options.footer.powered_by_bento_sticky %} sticky-powered-by{% endif %}{% if theme.options.address_bar.sticky %} address-bar-sticky{% endif %}{% if theme.options.layout.parallax %} parallax{% endif %} scroll-away-mobile {% block containerClass %}{% endblock %}">

    {% block addressBar %}
      {% include 'address_bar/_address_bar.html' %}
    {% endblock %}

    {% block header %}
      {% include 'header/_header.html' %}
    {% endblock %}

    {% block content %}
      {% for section in navs.main|rejectattr("homepage")|selectattr("template") if "/store" not in section.url %}
        {% include section.template with context %}
      {% endfor %}
    {% endblock %}

    {% include 'footer/_footer.html' %}

    <script src="{{ static('js/dist/main.min.js') }}"></script>
    <script src="{{ static('js/dist/bentobox.dist.js') }}"></script>
    <script src="{{ static('js/dist/store.js') }}"></script>
    {% if account.services.resy.api_key %}
      <script type="text/javascript">
        $('.reservations-link').on('click', function(event) {
          event.preventDefault();
          resyWidget.openModal({'venueId': {{ account.services.resy.venue_id }}})
        });
      </script>
    {% endif %}
    {% block initScripts %}
    {% endblock %}
  </body>
</html>
