<div id="{{gallery.slug}}-carousel" class="carousel slide hidden-print{% if parallax == 'false' %} no-parallax{%endif %}" data-ride="carousel" data-interval="4000" data-pause="false">
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {% for image in gallery.images %}
      <div id="{{gallery.slug}}-slide-{{loop.index0}}" class="item {% if loop.index0 == 0 %}active{% endif %}" style="background-image: url('{{ image }}')">
      </div>
    {% endfor %}
  </div>

  {% if gallery.images > 1 %}
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-team" data-slide="prev">
      <span></span>
    </a>
    <a class="right carousel-control" href="#carousel-team" data-slide="next">
      <span></span>
    </a>
  {% endif %}
</div>