<section id="{{ section.slug }}" class="generic-section hidden-print">
  <div class="container-fluid max-width">
    {% if section.fields.header and section.fields.header.show %}
      {% include "_section-header.html" %}
    {% endif %}

    {% if section.fields.description and section.fields.description.text %}
      {% include "_section-description.html" %}
    {% endif %}

    {% if section.fields.code and section.fields.code.code %}
      {{ section.fields.code.code }}
    {% endif %}
  </div>
</section>