{% if account.services.facebook.url %}
  <a target="_blank" href="{{ account.services.facebook.url }}" class="ss-icon ss-social-circle ss-facebook"></a>
{% endif %}
{% if account.services.twitter.url %}
  <a target="_blank" href="{{ account.services.twitter.url }}" class="ss-icon ss-social-circle ss-twitter"></a>
{% endif %}
{% if account.services.instagram.url %}
  <a target="_blank" href="{{ account.services.instagram.url }}" class="ss-icon ss-social-circle ss-instagram"></a>
{% endif %}
{% if account.services.yelp.url %}
  <a target="_blank" href="{{ account.services.yelp.url }}" class="ss-icon ss-social-circle ss-yelp"></a>
{% endif %}
{% if account.services.foursquare.url %}
  <a target="_blank" href="{{ account.services.foursquare.url }}" class="ss-icon ss-social-circle ss-foursquare"></a>
{% endif %}
{% if account.services.google_plus.url %}
  <a target="_blank" href="{{ account.services.google_plus.url }}" class="ss-icon ss-social-circle ss-googleplus"></a>
{% endif %}