{% extends 'store/_base_store.html' %}

{% block content %}
<div class="container-fluid max-width store cart">
<div class="row">
    <div class="cart-icon pull-right">
      <a href="{{ store.cart.url }}">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 77 124.84375" enable-background="new 0 0 77 99.875" xml:space="preserve"><path d="M64.427,25.875c0-14-11.628-25.972-25.973-25.972c-14.342,0-25.97,11.972-25.97,25.972H0v74h77v-74H64.427z M17.887,25.875  c0-12,9.333-20.833,20.834-20.833c11.508,0,20.834,8.833,20.834,20.833H17.887z"/></svg><span>{{ store.cart.quantity }}</span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
        <h1>Your Order</h1>
        <div class="hidden-xs hidden-sm hidden-md row cart-titles">
            <div class="col-lg-6">
                <span>Your Order</span>
            </div>
            <div class="col-lg-2">
                <span>Price</span>
            </div>
            <div class="col-lg-2">
                <span>Qty</span>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <hr>
            </div>
        </div>
        {% for item in store.cart['items'] %}
        <div class="row item">
            <div class="col-lg-6">
                {{ item.name }}
                {% if item.giftcard_type %}({{ item.giftcard_type }}){% endif %}
                {% if item.recipient_name %}
                  <br>{{ item.recipient_name }}
                {% endif %}
                {% if item.variant %}
                <br>
                    {% for option in item.variant.options %}
                        {{ option.name }} - {{ option.choice }}<br>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-lg-2">
                ${{ item.unit_price }}
            </div>
            <div class="col-lg-4">
                {% if item.quantity > 1 %}<div class="qty">Qty: </div>{{ item.quantity }}{% endif %}
                <a href="{{ item.change_url }}?quantity=0">remove</a>
                <span class="pull-right">${{ item.total }}</span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <hr>
            </div>
        </div>
        {% endfor %}
        <div class="row cart-details">
            <div class="col-sm-6">
                <a class="back" href="/store/gift-cards">Go Back</a>
            </div>
            <div class="col-sm-6 text-right">
                <span>Subtotal: ${{ store.cart.subtotal }}</span>
            </div>
        </div>
        <div class="row cart-details checkout">
            <div class="col-sm-3 pull-right text-right">
                <a class="btn" href="{{ store.cart.checkout_url }}">
              Checkout
          </a>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block initScripts %}
<script type="text/javascript">
$(document).ready(function() {

    $(window).resize(function(){
        $(".store.cart").css('min-height', $(window).outerHeight() - $("footer").outerHeight() - $("#powered-by").outerHeight() - 100 );
    });
    $(window).resize();

});
</script>
{% endblock %}