{% extends 'store/_base_store.html' %}
{% block bodyClass %}store-cart-body{% endblock %}

{% block content %}
<div class="wrap">
<div class="container-fluid max-width store cart">
  <div class="row">
    <div class="col-lg-12">
        <h1>Your Order</h1>
        <div class="hidden-xs hidden-sm hidden-md row cart-titles">
            <div class="col-lg-6">
                <span>Your Order</span>
            </div>
            <div class="col-lg-2">
                <span>Price</span>
            </div>
            <div class="col-lg-2">
                <span>Qty</span>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <hr>
            </div>
        </div>
        {% for item in store.cart['items'] %}
        <div class="row item">
            <div class="col-lg-6">
                {#- item information: generic  #}
                {{ item.name }}
                {% if item.giftcard_type %}({{ item.giftcard_type }}){% endif %}
                {% if item.recipient_name %}
                  <br>{{ item.recipient_name }}
                {% endif %}

                {#- item variants  #}
                {% if item.variant and item.variant.options and item.variant.options|length %}
                <br>
                    {% for option in item.variant.options %}
                        {{ option.name }} - {{ option.choice }}<br>
                    {% endfor %}
                {% endif %}

                {#- item required fields: configurable product #}
                {%- if item.required_fields and item.required_fields|length %}
                    {%- set br = joiner("<br>") %}
                    <br>
                    <span>
                        {%- for field in item.required_fields if field.selected|length %}
                            {%- set renderable_count = [] %}
                            {%- set comma = joiner(", ") %}
                            {{ br() }}
                            {{ field.name }}: 
                            {%- for option in field.selected %}
                                {%- set renderable = true if ((not option.quantity is defined) or (option.quantity != 0)) else false %}
                                {%- set renderable = renderable if (option.option_name or option.option_text) else false %}
                                {%- if renderable %}
                                    {%- do renderable_count.append(1) %}
                                    {%- set props = {
                                            "name": option.option_name if (option.option_name) else "",
                                            "text": option.option_text if (option.option_text) else "",
                                            "price": option.price_variance|money if (option.price_variance and (option.price_variance != "0.00")) else "",
                                            "quantity": ("(" ~ option.quantity ~ ")") if (option.quantity is defined) else ""
                                        }
                                    -%}
                                    {{ comma() }} {{ props.quantity }} {{ props.name }} {{ props.text }} {{ props.price }}
                                {%- endif %}    
                            {%- endfor %}
                            {%- if renderable_count|length == 0 %} n/a{% endif %}
                        {%- endfor %}
                    </span>
                {%- endif %}

            </div>
            <div class="col-lg-2">
                ${{ item.unit_price }}
            </div>
            <div class="col-lg-4">
                {% if item.quantity > 1 %}<div class="qty">Qty: </div>{{ item.quantity }}{% endif %}
                <a href="{{ item.change_url }}?quantity=0">remove</a>
                <span class="pull-right">${{ item.total }}</span>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <hr>
            </div>
        </div>
        {% endfor %}
        <div class="row cart-details">
            <div class="col-sm-6">


            <a id="go-back" class="back">Go Back</a>

            </div>
            <div class="col-sm-6 text-right">
                <span>Subtotal: ${{ store.cart.subtotal }}</span>
            </div>
        </div>
        {%- if not store.cart.can_checkout %}
            <div class="row">
                <div class="col-sm-12">
                    <p class="cart-msg"><strong>{{ store.cart.checkout_not_available_message }}</strong></p>
                </div>
            </div>
        {%- endif %}
        <div class="row cart-details checkout">
            <div class="col-sm-3 pull-right text-right">
                <a class="btn{% if not store.cart.can_checkout %} disabled{% endif %}"{% if store.cart.can_checkout %} href="{{ store.cart.checkout_url }}"{% endif %}>
                    Checkout
                </a>
            </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-lg-12 hidden-sm hidden-xs">
            <div class="cart-links">
                {% if store.settings.refund_policy %}
                <a href="#" data-toggle="modal" data-target="#modal-refund">Refund Policy</a>
                |  
                {% endif %}
                {% if store.settings.shipping_information %}
                <a href="#" data-toggle="modal" data-target="#modal-shipping">Shipping Information</a>
                |  
                {% endif %}
                <a href="http://getbento.com/terms" target="_blank">Terms of Service</a>
                |  
                <a href="http://getbento.com/privacy" target="_blank">Privacy Policy</a>
            </div>
        </div>
    </div>
</div>
</div>



<div class="push"></div>
</div>

<div id="cart-modals">
    <div class="modal fade refund" id="modal-refund" tabindex="-1" role="dialog" aria-labelledby="modal-refund-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <h2>Refund Policy</h2>
                <p>{{ store.settings.refund_policy }}</p>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
        </div>
    </div>
    <div class="modal fade shipping" id="modal-shipping" tabindex="-1" role="dialog" aria-labelledby="modal-shipping-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <h2>Shipping Information</h2>
                <p>{{ store.settings.shipping_information }}</p>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block initScripts %}
<script>
function pushFooter() {
    footerStart = $(window).innerHeight() -;
    $('.cart-links').css({
        "margin-top": footerStart + "px"
    });
};
pushFooter();
$(window).resize(function() {
    pushFooter();   
});

$('#go-back').on('click', function () {
  console.log('going back');
  window.history.back();
});
</script>
{% endblock %}

