{% extends 'store/_base_store.html' %}

{% block bodyClass %}store-product-body{% endblock %}

{% block content %}
<div class="wrap">
<div class="store product">
  <div class="container-fluid max-width">
    <div class="row">
        <div class="col-xs-6">
            {% set shop_landing = pages.all|selectattr("template","equalto","store/index.html")|list|first  %}
            {% if shop_landing %}
            <a class="back" href="{{ shop_landing.url }}">Back to shop</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% if current.images|length > 0 %}
        <div class="col-md-8">
            <div class="feature-image-wrap">
            <div class="feature-image" style="background-image:url('{{ current.image }}')"></div>

            {% if current.images|length > 1 %}
                {% for group in current.images|batch(3) %}
                  <div class="row">
                    {% for image in group %}
                      <div class="col-xs-4">
                        <div class="image-option" style="background-image:url('{{ image }}')"></div>
                      </div>
                    {% endfor %}
                  </div>
                {% endfor %}
            {% endif %}

            </div>

        </div>
        {% endif %}

        <div class="col-md-4{% if current.images|length == 0 %} col-md-push-4 text-center{% endif %}">
            <h2>{{ current.name }}</h2>
            <span class="price">${{ current.price }}</span>
            {{ current.description }}
            <form method="POST" action="{{ current.add_to_cart_url }}" id="product-form">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ current.id }}">
                {% if current.options|length > 0 %}
                <hr>
                {% endif %}
                {% for option in current.options %}
                <div class="row">
                    <div class="col-md-6">
                        <label>{{ option.name }}</label>
                    </div>
                    <div class="col-md-6">
                        <select class="options-dropdown">
                            {% for value in option.choices %}
                                <option data-name="{{ option.name }}" data-slug="{{ option.slug }}" value="{{ value }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                        <br><br>
                    </div>
                </div>
                {% endfor %}
                <div class="hidden">
                    <select id="variant" name="variant_id">
                        {% for variant in current.variants %}
                            <option value="{{ variant.id }}"{% for option in variant.options %} data-option-{{option.slug}}="{{ option.choice }}"{% endfor %} data-inventory="{{ variant.inventory }}" data-price="{{ variant.price }}">{{ variant.id }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn">Add To Cart</button>
            </form>
        </div>
    </div>
  </div>
</div>

<div id="added-to-cart">
    <div class="modal">
        <div class="row">
            <a class="x remove">&times;</a>
            <div class="col-md-6">
                <div class="img" style="background-image: url('{{ current.image }}');"></div>
            </div>
            <div class="col-md-6 text-left">
                <h2>{{ current.name }}</h2>
                <div class="options">

                </div>
                <br>
                <span class="price">${{ current.price }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a class="btn remove">Continue Shopping</a>
            </div>
            <div class="col-md-6">
                <a class="btn" href="{{ store.cart.url }}">Checkout</a>
            </div>
        </div>
    </div>
</div>

<div class="push"></div>
</div>
{% endblock %}

{% block initScripts %}
<script type="text/javascript">
$(document).ready(function() {
    $('.feature-image-wrap .image-option').hover(function(){
      $('.feature-image-wrap .feature-image').css('background-image', $(this).css('background-image') );
    });
      STORE.initialize();
});
</script>
{% endblock %}
